.color-1,
.btn.bg-color-1:hover {
  color: #FF6F61 !important;
}

.border-color-1,
.btn.bg-color-1,
.btn.bg-color-1:hover {
  border-color: #FF6F61 !important;
}

.bg-color-1 {
  background-color: #FF6F61 !important;
}

.color-2,
.btn.bg-color-2:hover {
  color: #dddddd !important;
}

.border-color-2,
.btn.bg-color-2,
.btn.bg-color-2:hover {
  border-color: #dddddd !important;
}

.bg-color-2 {
  background-color: #dddddd !important;
}

.color-3,
.btn.bg-color-3:hover {
  color: #A9A9A9 !important;
}

.border-color-3,
.btn.bg-color-3,
.btn.bg-color-3:hover {
  border-color: #A9A9A9 !important;
}

.bg-color-3 {
  background-color: #A9A9A9 !important;
}

.color-4,
.btn.bg-color-4:hover {
  color: #FF3B3F !important;
}

.border-color-4,
.btn.bg-color-4,
.btn.bg-color-4:hover {
  border-color: #FF3B3F !important;
}

.bg-color-4 {
  background-color: #FF3B3F !important;
}

.color-5,
.btn.bg-color-5:hover {
  color: #355C7D !important;
}

.border-color-5,
.btn.bg-color-5,
.btn.bg-color-5:hover {
  border-color: #355C7D !important;
}

.bg-color-5 {
  background-color: #355C7D !important;
}

.color-black,
.btn.color-black {
  color: #000000 !important;
}

.border-color-black,
.btn.bg-black,
.btn.bg-black:hover {
  border-color: #000000 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.btn[class*="bg-color-"] {
  color: #ffffff !important;
}

.btn[class*="-color-"] {
  border-width: 1px;
  border-style: solid;
}

.btn[class*="border-color-"]:hover {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.btn[class*="bg-color-"]:hover {
  background-color: #fff !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}
